@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
    background-color: #efe6d8;
    color: #2b2b2b;
    font-family:"Special Elite", monospace;
    margin:0;
    overflow:hidden; /*evita que salgan barras de scroll si algo se sale*/
    cursor: pointer;
}

h1{
    text-align: center;
    margin-top: 40px;
}

#lienzo{
    position:relative; /*así no se mueve de su lugar*/
    width: 100vw;
    height: 100vh;
}

/*este elemento class no está en html directamente, sino que javascript lo crea y lo utiliza más adelante*/
.memoria{
    position:absolute;
    max-width: 250px; /*limita el ancho del elemento*/
    font-size: 20px;
    line-height: 1.4;/*la altura de la línea será 1.4 veces el tamaño de la letra*/
    opacity: 0.85;/*85% de opacidad*/
}