@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
    background-color: #efe6d8;
    color: #2b2b2b;
    font-family:"Special Elite", monospace;
    margin:0;
    overflow:hidden; /*evita que salgan barras de scroll si algo se sale*/
    cursor: pointer;
}

h1{
    text-align: center;
    margin-top: 40px;
}

#lienzo{
    position:relative; /*así no se mueve de su lugar*/
    width: 100vw;
    height: 100vh;
}

/*este elemento class no está en html directamente, sino que javascript lo crea y lo utiliza más adelante*/
.memoria{
    position:absolute;
    max-width: 250px; /*limita el ancho del elemento*/
    font-size: 20px;
    line-height: 1.4;/*la altura de la línea será 1.4 veces el tamaño de la letra*/
    opacity: 0.85;/*85% de opacidad*/
}

a{
    display: inline-block; /*Se comporta como texto pero tiene tamaño y margen - permite que el link tenga tamaño, borde y se comporte como un bloque (es por seguridad, sin esto alguno estilos no funcionan)*/
    font-size: 20px;
    margin-top:1px;
    text-decoration: none;
    color: #2b2b2b;
    transition: 0.3s; /*cualquie cambio visual se hará por 0.3s*/
    position: absolute;
    right: 1px;
    border:1px solid #2b2b2b;
    padding:10px 10px;
    z-index: 10;/*así el link queda por encima de todo lo del index*/
}
a:visited, a:active{
    color: #2b2b2b;
}
a:hover{
    transform: scale(1.1);
}