@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body{
    background:#1a1a1a;
    background:url("https://www.transparenttextures.com/patterns/asfalt-dark.png")
    color:#eaeaea;
    font-family: "Syne Mono", monospace;
    margin:0;
    padding:0;
}

h1{
    text-align: center;
    margin-top: 100px;
    letter-spacing: 5px;
}

.volver{
    position:fixed; /*ancla a la pantalla del navegador, se queda siempre ahí aunque el usuario haga scroll*/
    top:1px;
    right:1px;
    color: #eaeaea;
    text-decoration: none;
    display: inline-block; /*Se comporta como texto pero tiene tamaño y margen - permite que el link tenga tamaño, borde y se comporte como un bloque (es por seguridad, sin esto alguno estilos no funcionan)*/
    font-size: 20px;
    color: #504e4e;
    transition: 0.3s; /*cualquie cambio visual se hará por 0.3s*/
    border:1px solid #4a4545;
    padding:10px 10px; /*cuanta distancia hay entre el contenido y la margen*/
    z-index: 10;
}

a:visited, a:active{
    color: #777373;
}
a:hover{
    transform: scale(1.1);
}

.contenedor{
    position:relative;
    height: 3500px;
    margin-top:200px;
}

img{
    width:300px;
    position:absolute;
    opacity:0.9;
}

.img1{
    top:200px;
    left:10%;/*medida relativa para que se ajuste a la pantalla*/
}

.img2{
    top: 700px;
    right:15%;
}

.img3{
    top:1200;
    left:20%;
}

.img4{
    top:1800px;
    right:10%;
}

.img5{
    top:2400;
    left:30%;
}

p{
    position:absolute;
    max-width:250px;
    font-size:18px;
}

.frase1{
    top:400px;
    right:20%;
}

.frase2{
    top:900px;
    left:15%;
}

.frase3{
    top:1500px;
    right:25%;
}

.frase4{
    top:2100px;
    left:10%;
}

.frase5{
    top:2700px;
    ight:20%;
}

.playlist{
    margin-top:200px;
    padding:100px;
}