@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap'); /*fuente memoria*/
@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap'); /*fuente cuerpo*/
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap'); /*fuente ruptura*/
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap'); /*fuente tecnología*/
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap'); /*fuente espíritu*/

body {
    background-color: #1a1a1a; /* Negro profundo */
    color: #f2c6b6; 
    font-family: "Rubik Storm", system-ui;
    font-weight: 150;
    font-style: normal;
    margin: 0;
    display: flex; /*así el contenedor se vuelve flex container y sus hijos se organizan de manera flexible*/
    justify-content: center;
    align-items: center;
    height: 100vh; /*vh= viewport height o alatura de pantalla. 100 es la altura total de la pantalla*/
    
    /* Textura orgánica/experimental de fondo */
    /*background-image: radial-gradient(circle, #746113 1px, transparent 1px);
    background-size: 30px 30px; */
    
}

#contenedor{
    text-align: center;
    max-width:900px;
}
#titulo {
    text-align: center;
    cursor:pointer;
}

.subtitulo{
    margin-top: 10px;
    color: #d8b4a6;
    font-size: 30px;
    cursor:pointer;
}

.exploracion{ /*aquí se logra que los links se ajusten automáticamente*/
    margin-top: 50px;
    display: flex;
    gap:60px; /*se aplica sobre el contenedor padre, define el espacio entre filas y columnas en contenedores*/
    flex-wrap:wrap; /*esto permite que los elementos hijos denrtro de un contenedor flexible se ajusten automáticamente*/
    justify-content:center;
}

.exploracion a{

    font-size:22px;
    text-decoration:none;
    color:#ffd166;
    border:1px solid #ff6b6b; /*Dibuja un borde sólido de 1 píxel alrededor del enlace*/
    padding:12px 22px; /*Crea espacio interno entre el texto y el borde (12px arriba/abajo y 22px lados)*/
    transition:0.3s;
}

h1{
    font-size: 60px;
    letter-spacing: 5px; /*espacio entre letras*/
    color: #ff6b6b;
    text-shadow:0 0 10px rgba(255,107,107,0.4);
}
/* link */

a{
    display: inline-block; /*Se comporta como texto pero tiene tamaño y margen - permite que el link tenga tamaño, borde y se comporte como un bloque (es por seguridad, sin esto alguno estilos no funcionan)*/
    margin-top: 40px;
    font-size: 24px;
    text-decoration: none;
    color: #ffd166;
    transition: 0.3s; /*cualquie cambio visual se hará por 0.3s*/

}

.subtitulo a:hover{

}
.exploracion a:hover{ /*cuando el mouse está encima*/
    color: #00fff7;
    transform: scale(1.1); /*agranda el elemento*/
}
a:visited, a:active{
    color: #ffd166;
}
#memoria{
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

#cuerpo{
    font-family: "Elsie", serif;
    font-weight: 400;
    font-style: normal;
}

#ruptura{
    font-family: "Syne Mono", monospace;
    font-weight: 200;
    font-style: normal;
}

#tecnologia{
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#espiritu{
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
}